				<!-- Spotlight -->
                <section class="spotlight style1 orient-right content-align-left image-position-center onscroll-image-fade-in" id="first">
                    <div class="content">
                        <h2>{{ .Site.Params.spotlight3.title }}</h2>
						<p>{{ .Site.Params.spotlight3.description }}</p>
						<ul class="actions stacked">
                            <li><a href="{{ .Site.Params.spotlight3.url }}" class="button">{{ .Site.Params.spotlight3.buttonText }}</a></li>
                        </ul>
                    </div>
                    <div class="image">
                        <img src="{{ .Site.Params.spotlight3.image }}" alt="" />
                    </div>
                </section>