				<!-- Spotlight 02 Right -->
                <section class="spotlight style1 orient-left content-align-left image-position-center onscroll-image-fade-in">
                    <div class="content">
                        <h2>{{ .Site.Params.spotlight2.title }}</h2>
                        <p>{{ .Site.Params.spotlight2.description }}</p>
                        <ul class="actions stacked">
                            <li><a href="{{ .Site.Params.spotlight2.url }}" class="button">{{ .Site.Params.spotlight2.buttonText }}</a></li>
                        </ul>
                    </div>
                    <div class="image">
                        <img src="images/andromeda.png" alt="" />
                    </div>
                </section>